<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/logotg.png" />
    <title>GrandPy Bot</title>
</head>

<body>
    <header>
        <div id="main_title">
            <div id=logo>
                <img src="/static/images/tortue_genial.png" alt="logo of grandpy saying hello" id="tortueG">
                <h1>GrandPy Bot</h1>
            </div>
        </div>
        <div id="phrasing_hook">
            <h2>Salut à toi Billy ! Viens donc t'assoir prêt du feu fiston! </h2>
        </div>
    </header>
    <div class="page"></div>
        <!-- chatbot-->
        <div id="chat_container">
            <ul>
                <li class="li_left">
                    Alors Billy ! Raconte moi un peu ? Tu sais j'ai beaucoup voyagé! Et toi fiston où tu rêves d'aller ?


                    <br>
                    <img src="/static/images/logotg.png" alt="logo of Grandpy" id="GrandPy">
                    <br>
                </li>
            </ul>
        </div>
        <!-- chatbot end-->
        <div id="tgsitting-campfire_container">
            <div id="tgsitting-bloc">
                <img src="/static/images/tgsitting.png" alt="Grandpy sitting next to the fire" id="tgsitting">
            </div>
            <div id="campfire-bloc">
                <img src="/static/images/campfire.gif" alt="campfire burning" id="campfire">
            </div>
        </div>
        <form id="text_field">
            <p>
                <label for="userText"></label>
                <input type="text" id="userText" name="userText" placeholder="Poser votre question à GrandPy">
                <input type="submit" value="Envoyer">
            </p>
        </form>
    </div>
    <footer>
        <p>Auteur de l'application: Jean-Maxime GUTH (Anca6889),

            <br> Etudiant chez Openclassrooms, parcours développeur
            d'application Python

            <br> code source du projet:


            <a href="https://github.com/Anca6889/P7_grandpy_bot">
                <img alt="lien vers github" src="/static/images/github_PNG15.png" width="86" height="35" />
            </a>
        </p>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.3.js"
        integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc=" crossorigin="anonymous"></script>
    <script src="/static/js/script.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap&libraries=&v=weekly"
        async></script>
</body>

</html>